app1.py
boston crime.rar
boston districts.jpg
boston_UR.csv
boston.jpeg
c15.csv
c16.csv
c17.csv
c18.csv
c19.csv
c20.csv
c21.csv
c22.csv
cb_2018_us_state_20m.shp
cleaned_data.csv
dashboard.py
final_dataframe.csv
forModel.csv
LRmodel.pkl
merged_df.csv
model-Copy1.json
rmscrimeincidentfieldexplanation.xlsx
rmsoffensecodes.xlsx
tempCodeRunnerFile.sh
Untitled.ipynb
XGBModel.pkl
boston crime
structured_data_regressor